/* BOUTONS */

a.btn {
  width: 180px;
  padding: 6px;
  margin: 10px;
  cursor: pointer;
  border-radius: 35px;
}
.btn__2 {
  width: 280px;
  padding: 6px;
  margin: 10px;
  cursor: pointer;
  border-radius: 35px;
}

.btn__color1 {
  background-color: var(--color-btn-1-background);
  border: 0.5vmin solid var(--color-btn-1-border);
  box-shadow: 0.3rem 0.3rem var(--color-btn-1-border);
  color: var(--font-color-1);
}
.btn__color2 {
  background-color: var(--color-btn-2-background);
  border: 0.5vmin solid var(--color-btn-2-border);
  box-shadow: 0.2rem 0.2rem var(--color-btn-2-border);
  color: var(--font-color-1);
}

.btn__color2:hover {
  background-color: var(--color-btn-2-background-hover);
  border: 0.5vmin solid var(--color-btn-2-border-hover);
  box-shadow: 0.3rem 0.3rem var(--color-btn-2-border-hover);
}

/* SVG */
/* Style de survol pour les liens */
a:hover .svg__hover {
  opacity: 0.8;
}

/* Style de survol pour les boutons */
button:hover .svg__hover {
  opacity: 0.8;
  cursor: pointer;
}
