/* SECTION HEADER */

/* container header */
.container__header {
  display: flex;
  justify-content: center;
  padding: 16px 24px;
}
/* NAVBAR */
/* container nav */
.container__nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1612px;
  max-height: 241px;
}

/* logo */
.logo {
  width: 60px;
  height: auto;
  cursor: pointer;
}
